@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* Ou,posso usar está forma,para meter as letras grandes 
    text-transform: uppercase;*/
    font-family: var(--fonte2);
    font-size: 4.3vw;  /* Ao usar o valor 4.3vw(widht),equivale a 4.3% da tela e permite que ao mexer na largura do site,as letras se ajustem ao tamanho que está.

    Se usar está forma,(font-size: 4em; )por exemplo,quando eu mexer na largura do site,as letras ficam sempre do mesmo tamanho!! */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder; /* Serve,para colocar mais Negrito ou não */
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;     /* Serve,para dar espaço entre linhas  */
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.9vw;
}

section > p {
    padding: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-attachment: fixed; /* Para dar o efeito parallax (a foto fica no mesmo sitio,não acompanha a subida e descida do site... */
    background-color: rgb(51, 51, 51);
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473); /* Serve para dar efeito sombra para dentro da imagem */
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}